html,
* {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}
.icon {
  display: flex;
  gap: 20px;
  align-items: center;
  cursor: pointer;
}
.search {
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.singleMovie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.singleMovie h1,
h3 {
  width: 95%;
  margin-left: 10px;
}
.singleMovie img {
  margin-top: 10px;
  height: 500px;
  width: 500px;
  border: 1px solid black;
  border-radius: 10px;
}
.input-search {
  height: 40px;
  width: 500px;
  /* border-radius: 10px; */
  cursor: text;
  font-size: larger;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: center;
}
.search-button {
  height: 45px;
  width: 50px;
  cursor: pointer;
  color: white;
  background-color: black;
  /* border-top-left-radius: 10px; */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
body {
  display: grid;
  grid-template-rows: 10% auto 10%;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: aqua;
  height: 70px;
  border-radius: 10px;
}
.icon {
  font-size: xxx-large;
  margin-left: 10px;
}
.cart {
margin-top: 20px;
    align-items: center;
  font-size: xx-large;
  margin-right: 10px;
  border: none;
  background-color: transparent;
}
main {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  overflow-y: scroll;
}
main .movie {
  margin-top: 30px;
  position: relative;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  background-color: #000;
}
main .movie img {
  height: 300px;
  width: 100%;
  border-radius: 10x;
}
.image {
  border-radius: 20px;
}
span{
    font-size: 20px;
    color: red;
    color: green;
    /* margin-right: 1px; */
}
.pa{
    color: red;
    font-size: 20px;
    margin-right: 5px;
}
h2 {
  font-size: small;
  /* margin-top: 10px; */
  color: white;
  cursor: pointer;
  color: white;
    margin-bottom: 10px;
    font-size: 20px;
    margin: 10px;
}
.head-er {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.addButton {
  height: 25px;
  width: 70px;
  margin-top: 10px;
  background-color: blueviolet;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.oneItemInCart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}
#pagination {
  margin: 0;
  padding: 0;
  text-align: center;
}
#pagination li {
  display: inline;
}
#pagination li {
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  color: #000;
}
#pagination li {
  border-radius: 5px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
#pagination li.active {
  background-color: #4caf50;
  color: #fff;
}
#pagination li:hover:not(.active) {
  background-color: #ddd;
}

.footer {
  display: flex;
  background-color: black;
  color: white;
  font-size: x-large;
  align-items: center;
  justify-content: center;
}
.cart-buttons button {
  height: 20px;
  width: 20px;
  background-color: #4caf50;
  color: white;
  border: none;
}

